In [1]:
# %load D:/BUDS_MID/__init__.py
"""
Created on Wed Feb 19 16:21:00 2020

@author: cmchico

usual imports
"""

import os
import pandas as pd
import numpy as np

pd.options.display.max_rows = 100
pd.set_option('display.float_format', '{:.0f}'.format)

import f_sched_branch as ed


from time import time
from datetime import timedelta

import pickle

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# %load D:/BUDS_MID/__initdask__.py
"""
Created on Wed Feb 19 16:24:03 2020

@author: cmchico
"""
import dask.bag as db
from dask.distributed import Client, progress

client = Client(processes = True,n_workers=12)
client

'\nCreated on Wed Feb 19 16:24:03 2020\n\n@author: cmchico\n'

##### parameters and data source

In [3]:
path = "D:/BUDS_MID/OJT ATM/ATM Forecasting Data New/"

In [4]:
test_dates = pd.date_range(start='01/01/2019',end='12/31/2019')

In [5]:
r_mapp = pd.read_pickle(path+'Actual/89 TID Br map.pkl')
r_thresh = pd.read_pickle(path+'89 Threshold Recommendations.pkl')
r_reload_df = pd.read_pickle(path+'Actual/80 Replenishment.pkl')
r_df = pd.concat([pd.read_csv(path+'Prophet Forecast/'+i, dtype={'ds':'str','pred_date':'str','tid':'str'}) 
                for i in os.listdir(path+'Prophet Forecast/')],ignore_index=True)
r_actual = pd.read_pickle(path+'Actual/82 Aggregated TID WDL.pkl')

##### count of atm per group (branch)

In [6]:
#211 branches with just one ATM, can be treated as an ATM i/o Branch
mapp = r_mapp.copy()
atm_count_dict = mapp[['TID_BR','BR_TIDCOUNT']].drop_duplicates().set_index('TID_BR').BR_TIDCOUNT.to_dict()
atm_br_dict = mapp.set_index('TID').TID_BR.to_dict()

In [7]:
mapp[['TID_BR','BR_TIDCOUNT']].drop_duplicates().BR_TIDCOUNT.value_counts()

1    514
2    128
3     14
4      2
Name: BR_TIDCOUNT, dtype: int64

##### threshold

In [8]:
r_thresh

,tid,pred_date,y,yhat,se,rmse,y_ave,thresh,y_ave_bucket
0,91010033,2018-12-30,1500,607252,366935198929,539692,775019,600000,800000
1,91010033,2018-12-31,14600,560825,298362048450,539692,775019,600000,800000
2,91010033,2019-01-01,142600,704290,315495965097,539692,775019,600000,800000
3,91010033,2019-01-02,318500,859928,293143790593,539692,775019,600000,800000
4,91010033,2019-01-03,325700,762721,190987445428,539692,775019,600000,800000
...,...,...,...,...,...,...,...,...,...
230953,BR998,2019-12-11,2753300,2665938,7632206157,533860,2228375,600000,2200000
230954,BR998,2019-12-12,1850600,2252653,161646243029,533860,2228375,600000,2200000
230955,BR998,2019-12-13,2890700,1908325,965060752512,533860,2228375,600000,2200000
230956,BR998,2019-12-14,3267700,2079174,1412594570874,533860,2228375,600000,2200000
230957,BR998,2019-12-15,3646900,2462943,1401753265716,533860,2228375,600000,2200000

In [9]:
thresh = r_thresh.copy()
thresh['per_rmse_yave'] =thresh.rmse/thresh.y_ave*100
thresh.tid = thresh.tid.astype(str)
thresh['tid_br'] = thresh.tid
thresh = thresh.sort_values(['per_rmse_yave','pred_date'], ascending=False)
thresh['tid_count'] = thresh['tid'].map(atm_count_dict)
# thresh.info()

In [10]:
thresh[thresh.tid_count > 1]

,tid,pred_date,y,yhat,se,rmse,y_ave,thresh,y_ave_bucket,per_rmse_yave,tid_br,tid_count
126359,BR155,2019-12-15,9317000,5636803,13543846569205,2415601,6541295,2500000,6500000,37,BR155,2
126358,BR155,2019-12-14,10228000,5187575,25405885150402,2415601,6541295,2500000,6500000,37,BR155,2
126357,BR155,2019-12-13,11411000,5439197,35662431044471,2415601,6541295,2500000,6500000,37,BR155,2
126356,BR155,2019-12-12,13275000,6917962,40411929628056,2415601,6541295,2500000,6500000,37,BR155,2
126355,BR155,2019-12-11,11600000,7420589,17467475031284,2415601,6541295,2500000,6500000,37,BR155,2
...,...,...,...,...,...,...,...,...,...,...,...,...
109165,BR029,2019-01-03,5834700,6909282,1154726010086,807045,6893774,900000,6900000,12,BR029,2
109164,BR029,2019-01-02,6324400,7357270,1066819916135,807045,6893774,900000,6900000,12,BR029,2
109163,BR029,2019-01-01,5864600,7244323,1903634949435,807045,6893774,900000,6900000,12,BR029,2
109162,BR029,2018-12-31,4304300,6634568,5430146775602,807045,6893774,900000,6900000,12,BR029,2
109161,BR029,2018-12-30,4488200,6787934,5288774429078,807045,6893774,900000,6900000,12,BR029,2

In [11]:
atms = thresh[thresh.tid_count > 1].tid_br.unique()
len(atms)

144

##### replenishment

In [12]:
reload_df = r_reload_df.copy()
reload_df = reload_df.sort_values(['TID','DATE'],ignore_index=True)
reload_df['Pre-Emptive'] = reload_df['reload_type'].str.strip().fillna("NORMAL LOADING")
reload_df['date_str'] = reload_df.DATE.astype(str)

reload_df['Current Load Amount'] = reload_df['Current Load Amount'].astype(str).str.strip().str.replace("","")
select = reload_df['Current Load Amount']==""
reload_df.loc[select,'Current Load Amount'] = "0"
reload_df['Current Load Amount'] = reload_df['Current Load Amount'].astype(int)

reload_df = reload_df[reload_df.DATE.isin(test_dates)].copy()
reload_df = reload_df.sort_values(['TID','DATE'],ignore_index=True)
reload_df['tid'] = reload_df.TID
reload_df['tid_br'] = reload_df.TID.map(atm_br_dict)
reload_df['tid_count'] = reload_df.tid_br.map(atm_count_dict)
# reload_df[['_forecasted','_cassettefault','_bpi','_others']] = \
#         (reload_df[['_forecasted','_cassettefault','_bpi','_others']]*1).fillna(0)


reload_df =  reload_df[reload_df.tid_br.isin(atms)].reset_index(drop=True)
reload_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48737 entries, 0 to 48736
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Last Load Amount     48737 non-null  object
 1   Current Load Amount  48737 non-null  int32
 2   % Cash Return/Atm    48737 non-null  float64
 3   Replen               48737 non-null  object
 4   Pre-Emptive          48737 non-null  object
 5   _forecasted          48737 non-null  bool
 6   _cassettefault       48737 non-null  bool
 7   _bpi                 48737 non-null  bool
 8   _others              48737 non-null  bool
 9   reload_type          48737 non-null  object
 10  TID                  48737 non-null  object
 11  DATE                 48737 non-null  datetime64[ns]
 12  date_str             48737 non-null  object
 13  tid                  48737 non-null  object
 14  tid_br               48737 non-null  object
 15  tid_count            48737 non-null  float64
dtypes: bool(4), datetime64[ns](1), float64(2), int32(1), object(8)
memory usage: 4.5+ MB

In [13]:
# type_reload = np.array(['forecasted','cassettefault','bpi','others'])
# def get_type(x):
#     return '-'.join((type_reload[x.values]).tolist())

# reload_df['reload_type'] = reload_df[['_forecasted','_cassettefault','_bpi','_others']].fillna(False) \
#                                 .apply(get_type, axis=1)

# reload_df.groupby(['Pre-Emptive', 'reload_type']).size()
# # reload_df.reload_type.value_counts(normalize=True)*100

In [14]:
first_together = reload_df.groupby(['tid_br','tid_count','DATE']).size().reset_index()
first_together.columns = ['tid_br','tid_count','DATE','count_date']
first_together['check'] =first_together.tid_count == first_together.count_date
first_reload= first_together[first_together.check].sort_values(['DATE']).drop_duplicates(subset='tid_br')
first_reload.DATE.dt.month.value_counts()

1    142
4      1
2      1
Name: DATE, dtype: int64

In [15]:
reload_df

,Last Load Amount,Current Load Amount,% Cash Return/Atm,Replen,Pre-Emptive,_forecasted,_cassettefault,_bpi,_others,reload_type,TID,DATE,date_str,tid,tid_br,tid_count
0,5200000,5200000,30,LOADING,FORECAST,True,False,False,False,FORECAST,91010018,2019-01-01,2019-01-01,91010018,BR054,2
1,5200000,5200000,82,LOADING,FAILURE,True,True,False,False,FAILURE,91010018,2019-01-03,2019-01-03,91010018,BR054,2
2,5200000,5200000,2,LOADING,FORECAST,True,False,False,False,FORECAST,91010018,2019-01-06,2019-01-06,91010018,BR054,2
3,5200000,5200000,4,LOADING,FORECAST,True,False,False,False,FORECAST,91010018,2019-01-09,2019-01-09,91010018,BR054,2
4,5200000,5200000,15,LOADING,FAILURE,True,True,False,False,FAILURE,91010018,2019-01-12,2019-01-12,91010018,BR054,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48732,5000000,5200000,77,LOADING,FAILURE,False,True,False,False,FAILURE,91019983,2019-12-19,2019-12-19,91019983,BR691,2
48733,5200000,5000000,71,LOADING,FORECAST,False,False,False,True,FORECAST,91019983,2019-12-20,2019-12-20,91019983,BR691,2
48734,5000000,5000000,21,LOADING,FORECAST,True,False,False,False,FORECAST,91019983,2019-12-23,2019-12-23,91019983,BR691,2
48735,5000000,5000000,33,LOADING,FORECAST,True,False,False,False,FORECAST,91019983,2019-12-26,2019-12-26,91019983,BR691,2
48736,5000000,5000000,71,LOADING,FAILURE,False,True,False,False,FAILURE,91019983,2019-12-27,2019-12-27,91019983,BR691,2

In [16]:
preempt = reload_df[reload_df.reload_type != 'FORECAST'][['date_str','tid','tid_br','reload_type','Current Load Amount']] 
preempt

         date_str       tid tid_br reload_type  Current Load Amount
1      2019-01-03  91010018  BR054     FAILURE              5200000
4      2019-01-12  91010018  BR054     FAILURE              5200000
5      2019-01-15  91010018  BR054     FAILURE              5200000
6      2019-01-16  91010018  BR054     FAILURE              5200000
7      2019-01-18  91010018  BR054     FAILURE              5200000
...           ...       ...    ...         ...                  ...
48727  2019-12-11  91019983  BR691     FAILURE              5200000
48729  2019-12-13  91019983  BR691     FAILURE              5000000
48731  2019-12-18  91019983  BR691     FAILURE              5000000
48732  2019-12-19  91019983  BR691     FAILURE              5200000
48736  2019-12-27  91019983  BR691     FAILURE              5000000

[30630 rows x 5 columns]

##### actual withdrawal

In [17]:
wdl = r_actual[r_actual.DATE.isin(test_dates)].copy()
wdl['tid'] = wdl.TID.astype(str)
wdl['tid_br'] = wdl.tid.map(atm_br_dict)
wdl['date_str'] = wdl.DATE.astype(str)
wdl = wdl[wdl.tid_br.isin(atms)].reset_index(drop=True)
wdl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111690 entries, 0 to 111689
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         111690 non-null  datetime64[ns]
 1   TID          111690 non-null  int64
 2   WDL_AMT      111690 non-null  float64
 3   WDL_AMT_FIN  111690 non-null  float64
 4   tid          111690 non-null  object
 5   tid_br       111690 non-null  object
 6   date_str     111690 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

##### forecasts

In [18]:
df = r_df[r_df.tid.isin(atms)].copy()
df['tid_br'] = df.tid
df.sort_values(['tid','pred_date','ds'], inplace=True)
df['pred_date_D'] = pd.to_datetime(df.pred_date)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 707616 entries, 1488942 to 3228497
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   707616 non-null  int64
 1   ds           707616 non-null  object
 2   y            707616 non-null  float64
 3   yhat         707616 non-null  float64
 4   pred_date    707616 non-null  object
 5   pred_day     707616 non-null  object
 6   se           707616 non-null  float64
 7   tid          707616 non-null  object
 8   tid_br       707616 non-null  object
 9   pred_date_D  707616 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 59.4+ MB

In [19]:
actual = df.pivot_table(index=['tid_br','pred_date','pred_date_D'],columns='pred_day',values='yhat',aggfunc=sum).reset_index()
actual[['date_str','y']] = df[df.pred_day=='day 0'][['ds','y']].reset_index(drop=True)
actual = actual[actual.tid_br.isin(atms)].reset_index(drop=True)
actual.shape
actual.head()

(50544, 19)

pred_day,tid_br,pred_date,pred_date_D,day 0,day 1,day 10,day 11,day 12,day 13,day 2,day 3,day 4,day 5,day 6,day 7,day 8,day 9,date_str,y
0,BR003,2018-12-30,2018-12-30,3117300,2083878,3376936,3985918,885142,590059,3101453,3090027,4825599,640978,221006,2940485,2931412,2806236,2018-12-31,229800
1,BR003,2018-12-31,2018-12-31,765283,3084612,3969005,866640,569091,3361469,3070202,4805487,616784,198386,2917100,2914159,2795472,3356278,2019-01-01,50400
2,BR003,2019-01-01,2019-01-01,3084078,3079838,849397,553388,3367489,4729958,4796612,627296,197792,2926643,2887279,2765152,3340869,3949593,2019-01-02,2672400
3,BR003,2019-01-02,2019-01-02,3087783,4798795,565362,3380463,4726880,3170090,635664,206674,2937916,2896338,2777541,3343632,3965859,862642,2019-01-03,3395300
4,BR003,2019-01-03,2019-01-03,4807112,640374,3387445,4735531,3173275,3236330,208489,2944571,2901269,2779882,3356841,3967066,865222,566586,2019-01-04,4914900

In [20]:
#round-off forecasts to nearest 1000
actual[[x for x in actual.columns if 'day' in x]] = \
        (actual[[x for x in actual.columns if 'day' in x]] / 1000).astype(int)*1000

In [21]:
def data_prep(atm):
    atm_no = len(tid)
    date_o = first_reload[first_reload.tid_br == atm].reset_index().DATE[0]
    
    wdl_atm = wdl[wdl.tid_br==atm].pivot_table(index=['date_str','tid_br'], columns=['tid'],values=['WDL_AMT_FIN']).reset_index()
    wdl_atm.columns = wdl_atm.columns.get_level_values(0)[:2].tolist() + ('wdl_' + wdl_atm.columns.get_level_values(1)[2:]).tolist()


    actual_atm = actual[(actual.tid_br== atm) & (actual.pred_date_D >= date_o-timedelta(days=1))] \
                    [['tid_br','pred_date','date_str','y'] + window_col].reset_index(drop=True) \
                    .merge(wdl_atm,how='left')

    #in case more than 1 reload type per date, just get the first one to flag all atms
    g4s = preempt[preempt.tid_br==atm][['date_str','tid_br','reload_type']].drop_duplicates(subset=['date_str','tid_br']) \
        .merge(preempt[preempt.tid_br==atm][['date_str','tid_br','tid','Current Load Amount']])
    g4s = g4s.pivot_table(index=['date_str','tid_br','reload_type'],
                            columns=['tid'],values=['Current Load Amount']).reset_index().fillna(0)
    g4s.columns = g4s.columns.get_level_values(0)[:3].tolist() + ('c_'+g4s.columns.get_level_values(1)[3:]).tolist()
    
    return actual_atm, g4s

In [22]:
def perf(aa,reload_amt,atm_no,tid):
    
    ss =aa.groupby(['reload_type'])[['civ_cost','reload_cost','total_cost','cashout_flag','reload_flag']].sum().reset_index()
    reloads = {tid[i]+ str(i):reload_amt[i] for i in range(atm_no)}

    a=pd.Series(reloads).reset_index()
    a.columns=['tid','reload_amt']

    ss['tid_br']=atm
    ss['thresh'] = threshold
    ss['thresh%'] = thresh[thresh.tid_br==atm].per_rmse_yave.astype(int).unique()[0]

    avail = (aa[['avail_' +str(i) for i in range(atm_no)]].sum()/aa.shape[0]*100).astype(int).reset_index(drop=True)
    avail.name = 'Availability'

    ss=ss.join(a.join(avail),how='left')
    return ss

In [23]:
def par(reload_amt,i,actual_atm,atm, tid,g4s,t,threshold,r,reload_charge,days_no,hor):
    atm_no=len(tid)
    try:
        g4s[g4s.columns[3:]]= (g4s[g4s.columns[3:]]>0)*reload_amt
        aa = ed.sched_branch(actual_atm,reload_amt, tid,t,threshold,
                           r, reload_charge,days_no,hor,g4s)
    except:
        return [[atm,tid,reload_amt,'fail']]
    
    aa.to_csv(path+'Prophet Test Thresh R/'+'_'+atm+'_'+str(i)+'_.csv')
    ss = perf(aa,reload_amt,atm_no,tid)
    ss.to_csv(path+'Prophet Test Perf Thresh R/'+'_'+atm+'_'+str(i)+'_.csv')
    return [[atm,tid,reload_amt,'success']]
#     except:
        

def par_atm(atm):
    threshold = thresh[thresh.tid==atm].thresh.unique()[0]
    tid = wdl[wdl.tid_br== atm].tid.unique().tolist()
    atm_no=len(tid)    
    t = min(100000,int(threshold/hor/atm_no/100000)*100000)
    
    actual_atm, g4s = data_prep(atm)

    
    scenario = list(itertools.permutations(choice,atm_no))
    scenario_all = [list(i) for i in scenario] + [[a for i in range(atm_no)] for a in choice]
    
    print(len(scenario_all))
    error = [[atm,tid,scenario_all[i],"success"] for i in range(len(scenario_all))]
    
    for i in range(len(scenario_all)):
        reload_amt=scenario_all[i]
        try:
            par(reload_amt,i,actual_atm,atm, tid,g4s,t,threshold,r,reload_charge,days_no,hor)
            
#             g4s[g4s.columns[3:]]= (g4s[g4s.columns[3:]]>0)*reload_amt
#             aa=ed.sched_branch(actual_atm,reload_amt, tid,t,threshold,
#                                r, reload_charge,days_no,hor,g4s)
#             aa.to_pickle(path+'Prophet Test Thresh R/'+'_'+atm+'_'+str(i)+'_.pkl')
#             ss = perf(aa,atm_no,tid)
#             print(ss.total_cost.sum())
#             ss.to_csv(path+'Prophet Test Perf Thresh R/'+'_'+atm+'_'+str(i)+'_.csv')
        except:
            error[i] = [atm,tid,scenario_all[i],"fail"]
        print(timedelta(seconds=time()-start))
    return error

In [1]:

import itertools
choice=[3200000,4200000,5200000,6200000]

In [4]:
atm_no=2
scenario = list(itertools.permutations(choice,atm_no))
scenario_all = [list(i) for i in scenario] + [[a for i in range(atm_no)] for a in choice]
print(len(scenario_all))

atm_no=3
scenario = list(itertools.permutations(choice,atm_no))
scenario_all = [list(i) for i in scenario] + [[a for i in range(atm_no)] for a in choice]
print(len(scenario_all))
scenario_all
# atm_no=4
# scenario = list(itertools.permutations(choice,atm_no))
# scenario_all = [list(i) for i in scenario] + [[a for i in range(atm_no)] for a in choice]
# print(len(scenario_all))

16
28

[[3200000, 4200000, 5200000],
 [3200000, 4200000, 6200000],
 [3200000, 5200000, 4200000],
 [3200000, 5200000, 6200000],
 [3200000, 6200000, 4200000],
 [3200000, 6200000, 5200000],
 [4200000, 3200000, 5200000],
 [4200000, 3200000, 6200000],
 [4200000, 5200000, 3200000],
 [4200000, 5200000, 6200000],
 [4200000, 6200000, 3200000],
 [4200000, 6200000, 5200000],
 [5200000, 3200000, 4200000],
 [5200000, 3200000, 6200000],
 [5200000, 4200000, 3200000],
 [5200000, 4200000, 6200000],
 [5200000, 6200000, 3200000],
 [5200000, 6200000, 4200000],
 [6200000, 3200000, 4200000],
 [6200000, 3200000, 5200000],
 [6200000, 4200000, 3200000],
 [6200000, 4200000, 5200000],
 [6200000, 5200000, 3200000],
 [6200000, 5200000, 4200000],
 [3200000, 3200000, 3200000],
 [4200000, 4200000, 4200000],
 [5200000, 5200000, 5200000],
 [6200000, 6200000, 6200000]]

In [10]:
scenario_all

[[3200000, 4200000, 5200000, 6200000],
 [3200000, 4200000, 6200000, 5200000],
 [3200000, 5200000, 4200000, 6200000],
 [3200000, 5200000, 6200000, 4200000],
 [3200000, 6200000, 4200000, 5200000],
 [3200000, 6200000, 5200000, 4200000],
 [4200000, 3200000, 5200000, 6200000],
 [4200000, 3200000, 6200000, 5200000],
 [4200000, 5200000, 3200000, 6200000],
 [4200000, 5200000, 6200000, 3200000],
 [4200000, 6200000, 3200000, 5200000],
 [4200000, 6200000, 5200000, 3200000],
 [5200000, 3200000, 4200000, 6200000],
 [5200000, 3200000, 6200000, 4200000],
 [5200000, 4200000, 3200000, 6200000],
 [5200000, 4200000, 6200000, 3200000],
 [5200000, 6200000, 3200000, 4200000],
 [5200000, 6200000, 4200000, 3200000],
 [6200000, 3200000, 4200000, 5200000],
 [6200000, 3200000, 5200000, 4200000],
 [6200000, 4200000, 3200000, 5200000],
 [6200000, 4200000, 5200000, 3200000],
 [6200000, 5200000, 3200000, 4200000],
 [6200000, 5200000, 4200000, 3200000],
 [3200000, 3200000, 3200000, 3200000],
 [4200000, 4200000, 4200000, 4200000],
 [5200000, 5200000, 5200000, 5200000],
 [6200000, 6200000, 6200000, 6200000]]

##### start

In [24]:
hor=2
days_no = 7
r = 0.05/365
reload_charge=2000
window_col = ['day '+ str(i) for i in range(days_no+hor)]

In [25]:
import itertools

In [26]:
choice=[3200000,4200000,5200000,6200000]

In [27]:
scenario_ = pd.read_csv(path+'93 Scenarios.csv')
scen=dict()
scen[1] = [[x] for x in scenario_[scenario_.atm_no==1].rel1.values] 
scen[2] = scenario_[scenario_.atm_no==2][['rel1','rel2']].values.tolist()
scen[3] =  scenario_[scenario_.atm_no==3][['rel1','rel2','rel3']].values.tolist()
scen[4] = scenario_[scenario_.atm_no==4][['rel1','rel2','rel3','rel4']].values.tolist()

In [28]:
len(scen[4])

35

In [29]:
atm='BR003'
threshold = thresh[thresh.tid==atm].thresh.unique()[0]
tid = wdl[wdl.tid_br== atm].tid.unique().tolist()
atm_no=len(tid)    
t = min(100000,int(threshold/hor/atm_no/100000)*100000)

scenario_all=scen[atm_no]
print(len(scenario_all))

actual_atm, g4s = data_prep(atm)

10

In [30]:
# a=par(scenario_all[0],0,actual_atm=actual_atm,atm=atm, 
#            tid=tid,g4s=g4s,t=t,threshold=threshold,
#            r=r,reload_charge=reload_charge,days_no=days_no,hor=hor)

### sequential 2mins

In [31]:
start=time()
# for i in range(len(scenario_all)):
for i in range(1):
    reload_amt=scenario_all[i]
    g4s[g4s.columns[3:]]= (g4s[g4s.columns[3:]]>0)*reload_amt
    aa=ed.sched_branch(actual_atm,reload_amt, tid,t,threshold,
                       r, reload_charge,days_no,hor,g4s)
    aa.to_pickle(path+'Prophet Test Thresh R/'+'_'+atm+'_'+str(i)+'_.pkl')
    ss = perf(aa,reload_amt, atm_no,tid)
    print(ss.total_cost.sum())
    ss.to_csv(path+'Prophet Test Perf Thresh R/'+'_'+atm+'_'+str(i)+'_.csv')
    print(timedelta(seconds=time()-start))

cashout
cashout
cashout
cashout
cashout
cashout
cashout
cashout
cashout
cashout
cashout
cashout

TypeError: 'NoneType' object is not subscriptable

### 583 PROBLEMATIC

### parallel scenario, one atm 1:08secs

In [34]:
atm_new = list(set(atms)-set(['BR583']))

In [40]:
atm_new[59:]
atm_new.index('BR056')

['BR863',
 'BR373',
 'BR086',
 'BR981',
 'BR671',
 'BR985',
 'BR360',
 'BR986',
 'BR318',
 'BR881',
 'BR821',
 'BR186',
 'BR622',
 'BR600',
 'BR056',
 'BR895',
 'BR037',
 'BR885',
 'BR158',
 'BR666',
 'BR078',
 'BR180',
 'BR832',
 'BR871',
 'BR976',
 'BR419',
 'BR859',
 'BR883',
 'BR389',
 'BR461',
 'BR144',
 'BR626',
 'BR691',
 'BR873',
 'BR100',
 'BR602',
 'BR127',
 'BR810',
 'BR749',
 'BR347',
 'BR122',
 'BR397',
 'BR440',
 'BR057',
 'BR824',
 'BR581',
 'BR174',
 'BR377',
 'BR623',
 'BR098',
 'BR074',
 'BR667',
 'BR128',
 'BR807',
 'BR764',
 'BR846',
 'BR858',
 'BR159',
 'BR417',
 'BR503',
 'BR547',
 'BR199',
 'BR067',
 'BR058',
 'BR015',
 'BR055',
 'BR384',
 'BR605',
 'BR460',
 'BR559',
 'BR054',
 'BR507',
 'BR636',
 'BR569',
 'BR228',
 'BR971',
 'BR307',
 'BR878',
 'BR161',
 'BR808',
 'BR811',
 'BR564',
 'BR992',
 'BR374']

73

In [48]:
start = time()
for atm in newatm:
    print(atm)
    threshold = thresh[thresh.tid==atm].thresh.unique()[0]
    tid = wdl[wdl.tid_br== atm].tid.unique().tolist()
    atm_no=len(tid)    
    
    t = min(100000,int(threshold/hor/atm_no/100000)*100000)
    
    actual_atm, g4s = data_prep(atm)

    scenario = list(itertools.permutations(choice,atm_no))
    scenario_all = [list(i) for i in scenario] + [[a for ia in range(atm_no)] for a in choice]

    dbscen = db.from_sequence(scenario_all[i] for i in range(len(scenario_all)))
    dbi = db.from_sequence(i for i in range(len(scenario_all)))
    dbmaster = \
    db.map(par,dbscen,dbi,actual_atm=actual_atm,atm=atm, 
           tid=tid,g4s=g4s,t=t,threshold=threshold,
           r=r,reload_charge=reload_charge,days_no=days_no,hor=hor)
    a = dbmaster.compute()
    b = pd.concat([pd.DataFrame(a[i], columns=['atm','tid','reload_amt','status']) for i in range(len(scenario_all))]
          ,ignore_index=True)
    pd.DataFrame(b).to_pickle(path+'Prophet Forecast All/_'+atm+'_.pkl')
    print(b.status.value_counts())
    print(timedelta(seconds=time()-start))

BR996
success    10
fail        6
Name: status, dtype: int64
0:00:45.444874
BR346
success    16
Name: status, dtype: int64
0:01:39.558969
BR619
success    16
Name: status, dtype: int64
0:02:31.483947
BR332
success    16
Name: status, dtype: int64
0:03:22.310169
BR051
success    16
Name: status, dtype: int64
0:04:15.740079
BR045
success    15
fail        1
Name: status, dtype: int64
0:05:05.594220
BR610
success    16
Name: status, dtype: int64
0:05:56.219565
BR316
success    16
Name: status, dtype: int64
0:06:44.631066
BR088
success    28
Name: status, dtype: int64
0:10:42.644506
BR455
success    15
fail        1
Name: status, dtype: int64
0:11:34.213946
BR874
success    15
fail        1
Name: status, dtype: int64
0:12:27.312890
BR738
success    16
Name: status, dtype: int64
0:13:19.238872
BR418
success    14
fail        2
Name: status, dtype: int64
0:14:12.644684
BR853
success    16
Name: status, dtype: int64
0:15:05.053749
BR354
fail       10
success     6
Name: status, dtype: int64
0:15:40.456234
BR121
success    16
Name: status, dtype: int64
0:16:31.301083
BR319
success    28
Name: status, dtype: int64
0:18:50.237298
BR835
success    16
Name: status, dtype: int64
0:19:46.111703
BR903
success    11
fail        5
Name: status, dtype: int64
0:20:36.588675
BR178
success    16
Name: status, dtype: int64
0:21:28.977584
BR901
success    16
Name: status, dtype: int64
0:22:24.124725
BR025
success    16
Name: status, dtype: int64
0:23:18.609722
BR485
success    16
Name: status, dtype: int64
0:24:10.169078
BR447
success    16
Name: status, dtype: int64
0:25:02.511016
BR683
success    13
fail        3
Name: status, dtype: int64
0:25:54.213203
BR237
success    15
fail        1
Name: status, dtype: int64
0:26:46.247775
BR574
success    16
Name: status, dtype: int64
0:27:37.948439
BR308
success    16
Name: status, dtype: int64
0:28:30.376905
BR893
success    13
fail        3
Name: status, dtype: int64
0:29:21.946069

In [54]:
for atm in ['BR347', 'BR377']:
    start = time()
    print(atm)
    threshold = thresh[thresh.tid==atm].thresh.unique()[0]
    tid = wdl[wdl.tid_br== atm].tid.unique().tolist()
    atm_no=len(tid)    
    
    t = min(100000,int(threshold/hor/atm_no/100000)*100000)
    
    actual_atm, g4s = data_prep(atm)

    scenario = list(itertools.permutations(choice,atm_no))
    scenario_all = [list(i) for i in scenario] + [[a for ia in range(atm_no)] for a in choice]

    dbscen = db.from_sequence(scenario_all[i] for i in range(len(scenario_all)))
    dbi = db.from_sequence(i for i in range(len(scenario_all)))
    dbmaster = \
    db.map(par,dbscen,dbi,actual_atm=actual_atm,atm=atm, 
           tid=tid,g4s=g4s,t=t,threshold=threshold,
           r=r,reload_charge=reload_charge,days_no=days_no,hor=hor)
    a = dbmaster.compute()
    b = pd.concat([pd.DataFrame(a[i], columns=['atm','tid','reload_amt','status']) for i in range(len(scenario_all))]
          ,ignore_index=True)
    pd.DataFrame(b).to_pickle(path+'Prophet Forecast All/_'+atm+'_.pkl')
    print(b.status.value_counts())
    print(timedelta(seconds=time()-start))

BR347
success    28
Name: status, dtype: int64
0:02:03.339702
BR377
success    16
Name: status, dtype: int64
0:00:49.735959

In [49]:
generated = pd.Series(os.listdir(path+'Prophet Test Thresh R/'))
# .str.split('_').str[1].unique()

In [50]:
generated = generated[generated.str.contains("csv")]
generated = generated.str.split('_').str[1].unique()

In [51]:
generated

array(['BR003', 'BR015', 'BR019', 'BR025', 'BR029', 'BR037', 'BR045',
       'BR051', 'BR054', 'BR055', 'BR056', 'BR057', 'BR058', 'BR067',
       'BR069', 'BR071', 'BR074', 'BR077', 'BR078', 'BR081', 'BR086',
       'BR087', 'BR088', 'BR091', 'BR098', 'BR100', 'BR121', 'BR122',
       'BR127', 'BR128', 'BR144', 'BR155', 'BR158', 'BR159', 'BR161',
       'BR163', 'BR174', 'BR178', 'BR180', 'BR186', 'BR191', 'BR199',
       'BR228', 'BR237', 'BR273', 'BR274', 'BR307', 'BR308', 'BR314',
       'BR316', 'BR318', 'BR319', 'BR331', 'BR332', 'BR339', 'BR346',
       'BR347', 'BR354', 'BR360', 'BR373', 'BR374', 'BR377', 'BR384',
       'BR389', 'BR397', 'BR405', 'BR409', 'BR412', 'BR414', 'BR417',
       'BR418', 'BR419', 'BR440', 'BR446', 'BR447', 'BR455', 'BR460',
       'BR461', 'BR485', 'BR494', 'BR503', 'BR507', 'BR547', 'BR557',
       'BR559', 'BR561', 'BR564', 'BR569', 'BR574', 'BR581', 'BR583',
       'BR600', 'BR602', 'BR605', 'BR610', 'BR619', 'BR622', 'BR623',
       'BR626', 'BR636', 'BR637', 'BR666', 'BR667', 'BR671', 'BR683',
       'BR691', 'BR738', 'BR749', 'BR764', 'BR807', 'BR808', 'BR810',
       'BR811', 'BR821', 'BR823', 'BR824', 'BR832', 'BR835', 'BR846',
       'BR853', 'BR855', 'BR858', 'BR859', 'BR863', 'BR865', 'BR871',
       'BR873', 'BR874', 'BR878', 'BR881', 'BR883', 'BR885', 'BR893',
       'BR895', 'BR901', 'BR903', 'BR904', 'BR971', 'BR976', 'BR981',
       'BR985', 'BR986', 'BR992', 'BR996'], dtype=object)

In [53]:
newatm = list(set(atms)-set(generated))
newatm

[]

In [46]:
os.listdir(path+'Prophet Test Thresh R/')

['BRANCH',
 'OFFSITE OR ONE ATM BRANCH',
 '_BR003_0_.csv',
 '_BR003_10_.csv',
 '_BR003_11_.csv',
 '_BR003_13_.csv',
 '_BR003_14_.csv',
 '_BR003_15_.csv',
 '_BR003_1_.csv',
 '_BR003_2_.csv',
 '_BR003_3_.csv',
 '_BR003_4_.csv',
 '_BR003_5_.csv',
 '_BR003_6_.csv',
 '_BR003_7_.csv',
 '_BR003_8_.csv',
 '_BR003_9_.csv',
 '_BR015_0_.csv',
 '_BR015_10_.csv',
 '_BR015_11_.csv',
 '_BR015_12_.csv',
 '_BR015_13_.csv',
 '_BR015_14_.csv',
 '_BR015_15_.csv',
 '_BR015_1_.csv',
 '_BR015_2_.csv',
 '_BR015_3_.csv',
 '_BR015_4_.csv',
 '_BR015_5_.csv',
 '_BR015_6_.csv',
 '_BR015_7_.csv',
 '_BR015_8_.csv',
 '_BR015_9_.csv',
 '_BR019_0_.csv',
 '_BR019_10_.csv',
 '_BR019_11_.csv',
 '_BR019_12_.csv',
 '_BR019_13_.csv',
 '_BR019_14_.csv',
 '_BR019_15_.csv',
 '_BR019_1_.csv',
 '_BR019_2_.csv',
 '_BR019_3_.csv',
 '_BR019_4_.csv',
 '_BR019_5_.csv',
 '_BR019_6_.csv',
 '_BR019_7_.csv',
 '_BR019_8_.csv',
 '_BR019_9_.csv',
 '_BR025_0_.csv',
 '_BR025_10_.csv',
 '_BR025_11_.csv',
 '_BR025_12_.csv',
 '_BR025_13_.csv',
 '_BR025_14_.csv',
 '_BR025_15_.csv',
 '_BR025_1_.csv',
 '_BR025_2_.csv',
 '_BR025_3_.csv',
 '_BR025_4_.csv',
 '_BR025_5_.csv',
 '_BR025_6_.csv',
 '_BR025_7_.csv',
 '_BR025_8_.csv',
 '_BR025_9_.csv',
 '_BR029_0_.csv',
 '_BR029_10_.csv',
 '_BR029_11_.csv',
 '_BR029_12_.csv',
 '_BR029_13_.csv',
 '_BR029_14_.csv',
 '_BR029_15_.csv',
 '_BR029_1_.csv',
 '_BR029_2_.csv',
 '_BR029_3_.csv',
 '_BR029_4_.csv',
 '_BR029_5_.csv',
 '_BR029_6_.csv',
 '_BR029_7_.csv',
 '_BR029_8_.csv',
 '_BR029_9_.csv',
 '_BR037_0_.csv',
 '_BR037_10_.csv',
 '_BR037_11_.csv',
 '_BR037_12_.csv',
 '_BR037_13_.csv',
 '_BR037_14_.csv',
 '_BR037_15_.csv',
 '_BR037_1_.csv',
 '_BR037_2_.csv',
 '_BR037_3_.csv',
 '_BR037_4_.csv',
 '_BR037_5_.csv',
 '_BR037_6_.csv',
 '_BR037_7_.csv',
 '_BR037_8_.csv',
 '_BR037_9_.csv',
 '_BR045_0_.csv',
 '_BR045_10_.csv',
 '_BR045_11_.csv',
 '_BR045_13_.csv',
 '_BR045_14_.csv',
 '_BR045_15_.csv',
 '_BR045_1_.csv',
 '_BR045_2_.csv',
 '_BR045_3_.csv',
 '_BR045_4_.csv',
 '_BR045_5_.csv',
 '_BR045_6_.csv',
 '_BR045_7_.csv',
 '_BR045_8_.csv',
 '_BR045_9_.csv',
 '_BR051_0_.csv',
 '_BR051_10_.csv',
 '_BR051_11_.csv',
 '_BR051_12_.csv',
 '_BR051_13_.csv',
 '_BR051_14_.csv',
 '_BR051_15_.csv',
 '_BR051_1_.csv',
 '_BR051_2_.csv',
 '_BR051_3_.csv',
 '_BR051_4_.csv',
 '_BR051_5_.csv',
 '_BR051_6_.csv',
 '_BR051_7_.csv',
 '_BR051_8_.csv',
 '_BR051_9_.csv',
 '_BR054_0_.csv',
 '_BR054_10_.csv',
 '_BR054_11_.csv',
 '_BR054_12_.csv',
 '_BR054_13_.csv',
 '_BR054_14_.csv',
 '_BR054_15_.csv',
 '_BR054_1_.csv',
 '_BR054_2_.csv',
 '_BR054_3_.csv',
 '_BR054_4_.csv',
 '_BR054_5_.csv',
 '_BR054_6_.csv',
 '_BR054_7_.csv',
 '_BR054_8_.csv',
 '_BR054_9_.csv',
 '_BR055_0_.csv',
 '_BR055_10_.csv',
 '_BR055_11_.csv',
 '_BR055_12_.csv',
 '_BR055_13_.csv',
 '_BR055_14_.csv',
 '_BR055_15_.csv',
 '_BR055_1_.csv',
 '_BR055_2_.csv',
 '_BR055_3_.csv',
 '_BR055_4_.csv',
 '_BR055_5_.csv',
 '_BR055_6_.csv',
 '_BR055_7_.csv',
 '_BR055_8_.csv',
 '_BR055_9_.csv',
 '_BR056_0_.csv',
 '_BR056_10_.csv',
 '_BR056_11_.csv',
 '_BR056_12_.csv',
 '_BR056_13_.csv',
 '_BR056_14_.csv',
 '_BR056_15_.csv',
 '_BR056_16_.csv',
 '_BR056_17_.csv',
 '_BR056_18_.csv',
 '_BR056_19_.csv',
 '_BR056_1_.csv',
 '_BR056_20_.csv',
 '_BR056_21_.csv',
 '_BR056_22_.csv',
 '_BR056_23_.csv',
 '_BR056_24_.csv',
 '_BR056_25_.csv',
 '_BR056_26_.csv',
 '_BR056_27_.csv',
 '_BR056_2_.csv',
 '_BR056_3_.csv',
 '_BR056_4_.csv',
 '_BR056_5_.csv',
 '_BR056_6_.csv',
 '_BR056_7_.csv',
 '_BR056_8_.csv',
 '_BR056_9_.csv',
 '_BR057_0_.csv',
 '_BR057_10_.csv',
 '_BR057_11_.csv',
 '_BR057_12_.csv',
 '_BR057_13_.csv',
 '_BR057_14_.csv',
 '_BR057_15_.csv',
 '_BR057_16_.csv',
 '_BR057_17_.csv',
 '_BR057_18_.csv',
 '_BR057_19_.csv',
 '_BR057_1_.csv',
 '_BR057_20_.csv',
 '_BR057_21_.csv',
 '_BR057_22_.csv',
 '_BR057_23_.csv',
 '_BR057_24_.csv',
 '_BR057_25_.csv',
 '_BR057_26_.csv',
 '_BR057_27_.csv',
 '_BR057_2_.csv',
 '_BR057_3_.csv',
 '_BR057_4_.csv',
 '_BR057_5_.csv',
 '_BR057_6_.csv',
 '_BR057_7_.csv',
 '_BR057_8_.csv',
 '_BR057_9_.csv',
 '_BR058_0_.csv',
 '_BR058_10_.csv',
 '_BR058_11_.csv',
 '_BR058_12_.csv',
 '_BR058_13_.csv',
 '_BR058_14_.csv',
 '_BR058_15_.csv',
 '_BR058_1_.csv',
 '_BR058_2_.csv',
 '_BR058_3_.csv',
 '_BR058_4_.csv',
 '_BR058_5_.csv',
 '_BR058_6_.csv',
 '_BR058_7_.csv',
 '_BR058_8_.csv',
 '_BR058_9_.csv',
 '_BR067_0_.csv',
 '_BR067_10_.csv',
 '_BR067_11_.csv',
 '_BR067_12_.csv',
 '_BR067_13_.csv',
 '_BR067_14_.csv',
 '_BR067_15_.csv',
 '_BR067_1_.csv',
 '_BR067_2_.csv',
 '_BR067_3_.csv',
 '_BR067_4_.csv',
 '_BR067_5_.csv',
 '_BR067_6_.csv',
 '_BR067_7_.csv',
 '_BR067_8_.csv',
 '_BR067_9_.csv',
 '_BR069_0_.csv',
 '_BR069_10_.csv',
 '_BR069_11_.csv',
 '_BR069_12_.csv',
 '_BR069_13_.csv',
 '_BR069_14_.csv',
 '_BR069_15_.csv',
 '_BR069_1_.csv',
 '_BR069_2_.csv',
 '_BR069_3_.csv',
 '_BR069_4_.csv',
 '_BR069_5_.csv',
 '_BR069_6_.csv',
 '_BR069_7_.csv',
 '_BR069_8_.csv',
 '_BR069_9_.csv',
 '_BR071_0_.csv',
 '_BR071_10_.csv',
 '_BR071_11_.csv',
 '_BR071_12_.csv',
 '_BR071_13_.csv',
 '_BR071_14_.csv',
 '_BR071_15_.csv',
 '_BR071_1_.csv',
 '_BR071_2_.csv',
 '_BR071_3_.csv',
 '_BR071_4_.csv',
 '_BR071_5_.csv',
 '_BR071_6_.csv',
 '_BR071_7_.csv',
 '_BR071_8_.csv',
 '_BR071_9_.csv',
 '_BR074_0_.csv',
 '_BR074_10_.csv',
 '_BR074_11_.csv',
 '_BR074_12_.csv',
 '_BR074_13_.csv',
 '_BR074_14_.csv',
 '_BR074_15_.csv',
 '_BR074_1_.csv',
 '_BR074_2_.csv',
 '_BR074_3_.csv',
 '_BR074_4_.csv',
 '_BR074_5_.csv',
 '_BR074_6_.csv',
 '_BR074_7_.csv',
 '_BR074_8_.csv',
 '_BR074_9_.csv',
 '_BR077_0_.csv',
 '_BR077_10_.csv',
 '_BR077_11_.csv',
 '_BR077_13_.csv',
 '_BR077_14_.csv',
 '_BR077_15_.csv',
 '_BR077_1_.csv',
 '_BR077_2_.csv',
 '_BR077_3_.csv',
 '_BR077_4_.csv',
 '_BR077_5_.csv',
 '_BR077_6_.csv',
 '_BR077_7_.csv',
 '_BR077_8_.csv',
 '_BR077_9_.csv',
 '_BR078_0_.csv',
 '_BR078_10_.csv',
 '_BR078_11_.csv',
 '_BR078_13_.csv',
 '_BR078_14_.csv',
 '_BR078_15_.csv',
 '_BR078_1_.csv',
 '_BR078_2_.csv',
 '_BR078_3_.csv',
 '_BR078_4_.csv',
 '_BR078_5_.csv',
 '_BR078_6_.csv',
 '_BR078_7_.csv',
 '_BR078_8_.csv',
 '_BR078_9_.csv',
 '_BR081_0_.csv',
 '_BR081_10_.csv',
 '_BR081_11_.csv',
 '_BR081_12_.csv',
 '_BR081_13_.csv',
 '_BR081_14_.csv',
 '_BR081_15_.csv',
 '_BR081_1_.csv',
 '_BR081_2_.csv',
 '_BR081_3_.csv',
 '_BR081_4_.csv',
 '_BR081_5_.csv',
 '_BR081_6_.csv',
 '_BR081_7_.csv',
 '_BR081_8_.csv',
 '_BR081_9_.csv',
 '_BR086_0_.csv',
 '_BR086_10_.csv',
 '_BR086_11_.csv',
 '_BR086_12_.csv',
 '_BR086_13_.csv',
 '_BR086_14_.csv',
 '_BR086_15_.csv',
 '_BR086_16_.csv',
 '_BR086_17_.csv',
 '_BR086_18_.csv',
 '_BR086_19_.csv',
 '_BR086_1_.csv',
 '_BR086_20_.csv',
 '_BR086_21_.csv',
 '_BR086_22_.csv',
 '_BR086_23_.csv',
 '_BR086_24_.csv',
 '_BR086_25_.csv',
 '_BR086_26_.csv',
 '_BR086_27_.csv',
 '_BR086_2_.csv',
 '_BR086_3_.csv',
 '_BR086_4_.csv',
 '_BR086_5_.csv',
 '_BR086_6_.csv',
 '_BR086_7_.csv',
 '_BR086_8_.csv',
 '_BR086_9_.csv',
 '_BR087_0_.csv',
 '_BR087_10_.csv',
 '_BR087_11_.csv',
 '_BR087_12_.csv',
 '_BR087_13_.csv',
 '_BR087_14_.csv',
 '_BR087_15_.csv',
 '_BR087_16_.csv',
 '_BR087_17_.csv',
 '_BR087_18_.csv',
 '_BR087_19_.csv',
 '_BR087_1_.csv',
 '_BR087_20_.csv',
 '_BR087_21_.csv',
 '_BR087_22_.csv',
 '_BR087_23_.csv',
 '_BR087_24_.csv',
 '_BR087_25_.csv',
 '_BR087_26_.csv',
 '_BR087_27_.csv',
 '_BR087_2_.csv',
 '_BR087_3_.csv',
 '_BR087_4_.csv',
 '_BR087_5_.csv',
 '_BR087_6_.csv',
 '_BR087_7_.csv',
 '_BR087_8_.csv',
 '_BR087_9_.csv',
 '_BR088_0_.csv',
 '_BR088_10_.csv',
 '_BR088_11_.csv',
 '_BR088_12_.csv',
 '_BR088_13_.csv',
 '_BR088_14_.csv',
 '_BR088_15_.csv',
 '_BR088_16_.csv',
 '_BR088_17_.csv',
 '_BR088_18_.csv',
 '_BR088_19_.csv',
 '_BR088_1_.csv',
 '_BR088_20_.csv',
 '_BR088_21_.csv',
 '_BR088_22_.csv',
 '_BR088_23_.csv',
 '_BR088_24_.csv',
 '_BR088_25_.csv',
 '_BR088_26_.csv',
 '_BR088_27_.csv',
 '_BR088_2_.csv',
 '_BR088_3_.csv',
 '_BR088_4_.csv',
 '_BR088_5_.csv',
 '_BR088_6_.csv',
 '_BR088_7_.csv',
 '_BR088_8_.csv',
 '_BR088_9_.csv',
 '_BR091_0_.csv',
 '_BR091_10_.csv',
 '_BR091_11_.csv',
 '_BR091_12_.csv',
 '_BR091_13_.csv',
 '_BR091_14_.csv',
 '_BR091_15_.csv',
 '_BR091_16_.csv',
 '_BR091_17_.csv',
 '_BR091_18_.csv',
 '_BR091_19_.csv',
 '_BR091_1_.csv',
 '_BR091_20_.csv',
 '_BR091_21_.csv',
 '_BR091_22_.csv',
 '_BR091_23_.csv',
 '_BR091_24_.csv',
 '_BR091_25_.csv',
 '_BR091_26_.csv',
 '_BR091_27_.csv',
 '_BR091_2_.csv',
 '_BR091_3_.csv',
 '_BR091_4_.csv',
 '_BR091_5_.csv',
 '_BR091_6_.csv',
 '_BR091_7_.csv',
 '_BR091_8_.csv',
 '_BR091_9_.csv',
 '_BR098_0_.csv',
 '_BR098_10_.csv',
 '_BR098_11_.csv',
 '_BR098_12_.csv',
 '_BR098_13_.csv',
 '_BR098_14_.csv',
 '_BR098_15_.csv',
 '_BR098_1_.csv',
 '_BR098_2_.csv',
 '_BR098_3_.csv',
 '_BR098_4_.csv',
 '_BR098_5_.csv',
 '_BR098_6_.csv',
 '_BR098_7_.csv',
 '_BR098_8_.csv',
 '_BR098_9_.csv',
 '_BR100_0_.csv',
 '_BR100_10_.csv',
 '_BR100_11_.csv',
 '_BR100_12_.csv',
 '_BR100_13_.csv',
 '_BR100_14_.csv',
 '_BR100_15_.csv',
 '_BR100_1_.csv',
 '_BR100_2_.csv',
 '_BR100_3_.csv',
 '_BR100_4_.csv',
 '_BR100_5_.csv',
 '_BR100_6_.csv',
 '_BR100_7_.csv',
 '_BR100_8_.csv',
 '_BR100_9_.csv',
 '_BR121_0_.csv',
 '_BR121_10_.csv',
 '_BR121_11_.csv',
 '_BR121_12_.csv',
 '_BR121_13_.csv',
 '_BR121_14_.csv',
 '_BR121_15_.csv',
 '_BR121_1_.csv',
 '_BR121_2_.csv',
 '_BR121_3_.csv',
 '_BR121_4_.csv',
 '_BR121_5_.csv',
 '_BR121_6_.csv',
 '_BR121_7_.csv',
 '_BR121_8_.csv',
 '_BR121_9_.csv',
 '_BR122_0_.csv',
 '_BR122_10_.csv',
 '_BR122_11_.csv',
 '_BR122_12_.csv',
 '_BR122_13_.csv',
 '_BR122_14_.csv',
 '_BR122_15_.csv',
 '_BR122_1_.csv',
 '_BR122_2_.csv',
 '_BR122_3_.csv',
 '_BR122_4_.csv',
 '_BR122_5_.csv',
 '_BR122_6_.csv',
 '_BR122_7_.csv',
 '_BR122_8_.csv',
 '_BR122_9_.csv',
 '_BR127_0_.csv',
 '_BR127_10_.csv',
 '_BR127_11_.csv',
 '_BR127_12_.csv',
 '_BR127_13_.csv',
 '_BR127_14_.csv',
 '_BR127_15_.csv',
 '_BR127_1_.csv',
 '_BR127_2_.csv',
 '_BR127_3_.csv',
 '_BR127_4_.csv',
 '_BR127_5_.csv',
 '_BR127_6_.csv',
 '_BR127_7_.csv',
 '_BR127_8_.csv',
 '_BR127_9_.csv',
 '_BR128_0_.csv',
 '_BR128_10_.csv',
 '_BR128_11_.csv',
 '_BR128_13_.csv',
 '_BR128_14_.csv',
 '_BR128_15_.csv',
 '_BR128_1_.csv',
 '_BR128_2_.csv',
 '_BR128_3_.csv',
 '_BR128_4_.csv',
 '_BR128_5_.csv',
 '_BR128_6_.csv',
 '_BR128_7_.csv',
 '_BR128_8_.csv',
 '_BR128_9_.csv',
 '_BR144_0_.csv',
 '_BR144_10_.csv',
 '_BR144_11_.csv',
 '_BR144_12_.csv',
 '_BR144_13_.csv',
 '_BR144_14_.csv',
 '_BR144_15_.csv',
 '_BR144_1_.csv',
 '_BR144_2_.csv',
 '_BR144_3_.csv',
 '_BR144_4_.csv',
 '_BR144_5_.csv',
 '_BR144_6_.csv',
 '_BR144_7_.csv',
 '_BR144_8_.csv',
 '_BR144_9_.csv',
 '_BR155_0_.csv',
 '_BR155_10_.csv',
 '_BR155_11_.csv',
 '_BR155_12_.csv',
 '_BR155_13_.csv',
 '_BR155_14_.csv',
 '_BR155_15_.csv',
 '_BR155_1_.csv',
 '_BR155_2_.csv',
 '_BR155_3_.csv',
 '_BR155_4_.csv',
 '_BR155_5_.csv',
 '_BR155_6_.csv',
 '_BR155_7_.csv',
 '_BR155_8_.csv',
 '_BR155_9_.csv',
 '_BR158_0_.csv',
 '_BR158_10_.csv',
 '_BR158_11_.csv',
 '_BR158_12_.csv',
 '_BR158_13_.csv',
 '_BR158_14_.csv',
 '_BR158_15_.csv',
 '_BR158_1_.csv',
 '_BR158_2_.csv',
 '_BR158_3_.csv',
 '_BR158_4_.csv',
 '_BR158_5_.csv',
 '_BR158_6_.csv',
 '_BR158_7_.csv',
 '_BR158_8_.csv',
 '_BR158_9_.csv',
 '_BR159_0_.csv',
 '_BR159_10_.csv',
 '_BR159_11_.csv',
 '_BR159_12_.csv',
 '_BR159_13_.csv',
 '_BR159_14_.csv',
 '_BR159_15_.csv',
 '_BR159_1_.csv',
 '_BR159_2_.csv',
 '_BR159_3_.csv',
 '_BR159_4_.csv',
 '_BR159_5_.csv',
 '_BR159_6_.csv',
 '_BR159_7_.csv',
 '_BR159_8_.csv',
 '_BR159_9_.csv',
 '_BR161_0_.csv',
 '_BR161_10_.csv',
 '_BR161_11_.csv',
 '_BR161_13_.csv',
 '_BR161_14_.csv',
 '_BR161_15_.csv',
 '_BR161_1_.csv',
 '_BR161_2_.csv',
 '_BR161_4_.csv',
 '_BR161_5_.csv',
 '_BR161_6_.csv',
 '_BR161_7_.csv',
 '_BR161_8_.csv',
 '_BR161_9_.csv',
 '_BR163_0_.csv',
 '_BR163_10_.csv',
 '_BR163_11_.csv',
 '_BR163_13_.csv',
 '_BR163_14_.csv',
 '_BR163_15_.csv',
 '_BR163_1_.csv',
 '_BR163_2_.csv',
 '_BR163_3_.csv',
 '_BR163_4_.csv',
 '_BR163_5_.csv',
 '_BR163_6_.csv',
 '_BR163_7_.csv',
 '_BR163_8_.csv',
 '_BR163_9_.csv',
 '_BR174_0_.csv',
 '_BR174_10_.csv',
 '_BR174_11_.csv',
 '_BR174_12_.csv',
 '_BR174_13_.csv',
 '_BR174_14_.csv',
 '_BR174_15_.csv',
 '_BR174_1_.csv',
 '_BR174_2_.csv',
 '_BR174_3_.csv',
 '_BR174_4_.csv',
 '_BR174_5_.csv',
 '_BR174_6_.csv',
 '_BR174_7_.csv',
 '_BR174_8_.csv',
 '_BR174_9_.csv',
 '_BR178_0_.csv',
 '_BR178_10_.csv',
 '_BR178_11_.csv',
 '_BR178_12_.csv',
 '_BR178_13_.csv',
 '_BR178_14_.csv',
 '_BR178_15_.csv',
 '_BR178_1_.csv',
 '_BR178_2_.csv',
 '_BR178_3_.csv',
 '_BR178_4_.csv',
 '_BR178_5_.csv',
 '_BR178_6_.csv',
 '_BR178_7_.csv',
 '_BR178_8_.csv',
 '_BR178_9_.csv',
 '_BR180_0_.csv',
 '_BR180_10_.csv',
 '_BR180_11_.csv',
 '_BR180_12_.csv',
 '_BR180_13_.csv',
 '_BR180_14_.csv',
 '_BR180_15_.csv',
 '_BR180_1_.csv',
 '_BR180_2_.csv',
 '_BR180_3_.csv',
 '_BR180_4_.csv',
 '_BR180_5_.csv',
 '_BR180_6_.csv',
 '_BR180_7_.csv',
 '_BR180_8_.csv',
 '_BR180_9_.csv',
 '_BR186_0_.csv',
 '_BR186_10_.csv',
 '_BR186_11_.csv',
 '_BR186_12_.csv',
 '_BR186_13_.csv',
 '_BR186_14_.csv',
 '_BR186_15_.csv',
 '_BR186_1_.csv',
 '_BR186_2_.csv',
 '_BR186_3_.csv',
 '_BR186_4_.csv',
 '_BR186_5_.csv',
 '_BR186_6_.csv',
 '_BR186_7_.csv',
 '_BR186_8_.csv',
 '_BR186_9_.csv',
 '_BR191_10_.csv',
 '_BR191_11_.csv',
 '_BR191_13_.csv',
 '_BR191_14_.csv',
 '_BR191_15_.csv',
 '_BR191_1_.csv',
 '_BR191_2_.csv',
 '_BR191_3_.csv',
 '_BR191_4_.csv',
 '_BR191_5_.csv',
 '_BR191_6_.csv',
 '_BR191_7_.csv',
 '_BR191_8_.csv',
 '_BR191_9_.csv',
 '_BR199_0_.csv',
 '_BR199_10_.csv',
 '_BR199_11_.csv',
 '_BR199_12_.csv',
 '_BR199_13_.csv',
 '_BR199_14_.csv',
 '_BR199_15_.csv',
 '_BR199_1_.csv',
 '_BR199_2_.csv',
 '_BR199_3_.csv',
 '_BR199_4_.csv',
 '_BR199_5_.csv',
 '_BR199_6_.csv',
 '_BR199_7_.csv',
 '_BR199_8_.csv',
 '_BR199_9_.csv',
 '_BR228_11_.csv',
 '_BR228_12_.csv',
 '_BR228_13_.csv',
 '_BR228_15_.csv',
 '_BR228_17_.csv',
 '_BR228_19_.csv',
 '_BR228_1_.csv',
 '_BR228_21_.csv',
 '_BR228_22_.csv',
 '_BR228_23_.csv',
 '_BR228_26_.csv',
 '_BR228_27_.csv',
 '_BR228_3_.csv',
 '_BR228_5_.csv',
 '_BR228_6_.csv',
 '_BR228_7_.csv',
 '_BR228_9_.csv',
 '_BR237_0_.csv',
 '_BR237_10_.csv',
 '_BR237_11_.csv',
 '_BR237_13_.csv',
 '_BR237_14_.csv',
 '_BR237_15_.csv',
 '_BR237_1_.csv',
 '_BR237_2_.csv',
 '_BR237_3_.csv',
 '_BR237_4_.csv',
 '_BR237_5_.csv',
 '_BR237_6_.csv',
 '_BR237_7_.csv',
 '_BR237_8_.csv',
 '_BR237_9_.csv',
 '_BR273_0_.csv',
 '_BR273_10_.csv',
 '_BR273_11_.csv',
 '_BR273_12_.csv',
 '_BR273_13_.csv',
 '_BR273_14_.csv',
 '_BR273_15_.csv',
 '_BR273_1_.csv',
 '_BR273_2_.csv',
 '_BR273_3_.csv',
 '_BR273_4_.csv',
 '_BR273_5_.csv',
 '_BR273_6_.csv',
 '_BR273_7_.csv',
 '_BR273_8_.csv',
 '_BR273_9_.csv',
 '_BR274_0_.csv',
 '_BR274_10_.csv',
 '_BR274_11_.csv',
 '_BR274_12_.csv',
 '_BR274_13_.csv',
 '_BR274_14_.csv',
 '_BR274_15_.csv',
 '_BR274_1_.csv',
 '_BR274_2_.csv',
 '_BR274_3_.csv',
 '_BR274_4_.csv',
 '_BR274_5_.csv',
 '_BR274_6_.csv',
 '_BR274_7_.csv',
 '_BR274_8_.csv',
 '_BR274_9_.csv',
 '_BR307_0_.csv',
 '_BR307_10_.csv',
 '_BR307_11_.csv',
 '_BR307_12_.csv',
 '_BR307_13_.csv',
 '_BR307_14_.csv',
 '_BR307_15_.csv',
 '_BR307_1_.csv',
 '_BR307_2_.csv',
 '_BR307_3_.csv',
 '_BR307_4_.csv',
 '_BR307_5_.csv',
 '_BR307_6_.csv',
 '_BR307_7_.csv',
 '_BR307_8_.csv',
 '_BR307_9_.csv',
 '_BR308_0_.csv',
 '_BR308_10_.csv',
 '_BR308_11_.csv',
 '_BR308_12_.csv',
 '_BR308_13_.csv',
 '_BR308_14_.csv',
 '_BR308_15_.csv',
 '_BR308_1_.csv',
 '_BR308_2_.csv',
 '_BR308_3_.csv',
 '_BR308_4_.csv',
 '_BR308_5_.csv',
 '_BR308_6_.csv',
 '_BR308_7_.csv',
 '_BR308_8_.csv',
 '_BR308_9_.csv',
 '_BR314_0_.csv',
 '_BR314_10_.csv',
 '_BR314_11_.csv',
 '_BR314_12_.csv',
 '_BR314_13_.csv',
 '_BR314_14_.csv',
 '_BR314_15_.csv',
 '_BR314_1_.csv',
 '_BR314_2_.csv',
 '_BR314_3_.csv',
 '_BR314_4_.csv',
 '_BR314_5_.csv',
 '_BR314_6_.csv',
 '_BR314_7_.csv',
 '_BR314_8_.csv',
 '_BR314_9_.csv',
 '_BR316_0_.csv',
 '_BR316_10_.csv',
 '_BR316_11_.csv',
 '_BR316_12_.csv',
 '_BR316_13_.csv',
 '_BR316_14_.csv',
 '_BR316_15_.csv',
 '_BR316_1_.csv',
 '_BR316_2_.csv',
 '_BR316_3_.csv',
 '_BR316_4_.csv',
 '_BR316_5_.csv',
 '_BR316_6_.csv',
 '_BR316_7_.csv',
 '_BR316_8_.csv',
 '_BR316_9_.csv',
 '_BR318_10_.csv',
 '_BR318_11_.csv',
 '_BR318_13_.csv',
 '_BR318_14_.csv',
 '_BR318_15_.csv',
 '_BR318_2_.csv',
 '_BR318_4_.csv',
 '_BR318_5_.csv',
 '_BR318_7_.csv',
 '_BR318_8_.csv',
 '_BR318_9_.csv',
 '_BR319_0_.csv',
 '_BR319_10_.csv',
 '_BR319_11_.csv',
 '_BR319_12_.csv',
 '_BR319_13_.csv',
 '_BR319_14_.csv',
 '_BR319_15_.csv',
 '_BR319_16_.csv',
 '_BR319_17_.csv',
 '_BR319_18_.csv',
 '_BR319_19_.csv',
 '_BR319_1_.csv',
 '_BR319_20_.csv',
 '_BR319_21_.csv',
 '_BR319_22_.csv',
 '_BR319_23_.csv',
 '_BR319_24_.csv',
 '_BR319_25_.csv',
 '_BR319_26_.csv',
 '_BR319_27_.csv',
 '_BR319_2_.csv',
 '_BR319_3_.csv',
 '_BR319_4_.csv',
 '_BR319_5_.csv',
 '_BR319_6_.csv',
 '_BR319_7_.csv',
 '_BR319_8_.csv',
 '_BR319_9_.csv',
 '_BR331_0_.csv',
 '_BR331_10_.csv',
 '_BR331_11_.csv',
 '_BR331_12_.csv',
 '_BR331_13_.csv',
 '_BR331_14_.csv',
 '_BR331_15_.csv',
 '_BR331_1_.csv',
 '_BR331_2_.csv',
 '_BR331_3_.csv',
 '_BR331_4_.csv',
 '_BR331_5_.csv',
 '_BR331_6_.csv',
 '_BR331_7_.csv',
 '_BR331_8_.csv',
 '_BR331_9_.csv',
 '_BR332_0_.csv',
 '_BR332_10_.csv',
 '_BR332_11_.csv',
 '_BR332_12_.csv',
 '_BR332_13_.csv',
 '_BR332_14_.csv',
 '_BR332_15_.csv',
 '_BR332_1_.csv',
 '_BR332_2_.csv',
 '_BR332_3_.csv',
 '_BR332_4_.csv',
 '_BR332_5_.csv',
 '_BR332_6_.csv',
 '_BR332_7_.csv',
 '_BR332_8_.csv',
 '_BR332_9_.csv',
 '_BR339_0_.csv',
 '_BR339_10_.csv',
 '_BR339_11_.csv',
 '_BR339_13_.csv',
 '_BR339_14_.csv',
 '_BR339_15_.csv',
 '_BR339_1_.csv',
 '_BR339_2_.csv',
 '_BR339_3_.csv',
 '_BR339_4_.csv',
 '_BR339_5_.csv',
 '_BR339_6_.csv',
 '_BR339_7_.csv',
 '_BR339_8_.csv',
 '_BR339_9_.csv',
 '_BR346_0_.csv',
 '_BR346_10_.csv',
 '_BR346_11_.csv',
 '_BR346_12_.csv',
 '_BR346_13_.csv',
 '_BR346_14_.csv',
 '_BR346_15_.csv',
 '_BR346_1_.csv',
 '_BR346_2_.csv',
 '_BR346_3_.csv',
 '_BR346_4_.csv',
 '_BR346_5_.csv',
 '_BR346_6_.csv',
 '_BR346_7_.csv',
 '_BR346_8_.csv',
 '_BR346_9_.csv',
 '_BR354_10_.csv',
 '_BR354_11_.csv',
 '_BR354_14_.csv',
 '_BR354_15_.csv',
 '_BR354_5_.csv',
 '_BR354_8_.csv',
 '_BR360_0_.csv',
 '_BR360_10_.csv',
 '_BR360_11_.csv',
 '_BR360_13_.csv',
 '_BR360_14_.csv',
 '_BR360_15_.csv',
 '_BR360_1_.csv',
 '_BR360_2_.csv',
 '_BR360_3_.csv',
 '_BR360_4_.csv',
 '_BR360_5_.csv',
 '_BR360_6_.csv',
 '_BR360_7_.csv',
 '_BR360_8_.csv',
 '_BR360_9_.csv',
 '_BR373_0_.csv',
 '_BR373_10_.csv',
 '_BR373_11_.csv',
 '_BR373_12_.csv',
 '_BR373_13_.csv',
 '_BR373_14_.csv',
 '_BR373_15_.csv',
 '_BR373_1_.csv',
 '_BR373_2_.csv',
 '_BR373_3_.csv',
 '_BR373_4_.csv',
 '_BR373_5_.csv',
 '_BR373_6_.csv',
 ...]

### parallel atm, sequential scenario

In [28]:
#per atm
start=time()
dbatm = db.from_sequence(atms)
dbmaster = db.map(par_atm,dbatm)
a=dbmaster.compute()
print(timedelta(seconds=time()-start))

BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
BokehDeprecationWarning: 'legend' keyword is deprecated, use explicit 'legend_label', 'legend_field', or 'legend_group' keywords instead
ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.


KeyboardInterrupt

In [ ]:
pd.concat([pd.DataFrame(a[i],columns=['tid','reload_amt','status']) for i in range(len(a))]).to_csv(path+'86 Summary Status.csv')